html
  head
    title='Appscherano'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Appscherano
        p
        p 
          //-a.btn.btn-primary(href="https://thumbs.gfycat.com/InstructiveComplexDromaeosaur-size_restricted.gif") Mostrar
          a.btn.btn-primary(href="https://thumbs.gfycat.com/PaleNeglectedCirriped-size_restricted.gif") Mostrar
